.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  &__container {
  }

  &__body {
    padding: 87px 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 1 1 auto;
    position: relative;
    z-index: 5;
  }

  &__menu {
  }

  &__button {
    padding: 12px 32px;
    &:hover {
      background-color: #3730a3;
      .button__link {
        color: #fff;
      }
    }
    @media (max-width: 767px) {
      position: relative;
      z-index: 5;
      margin: 0 40px 0 0;
    }
    @media (max-width: 500px) {
      margin: 0px 15px 0 0;
      padding: 6px 10px;
    }
  }

  &__icon-menu {
    @media (max-width: 767px) {
      display: block;
      position: relative;
      width: 60px;
      height: 32px;
      cursor: pointer;
      z-index: 5;
      span {
        position: absolute;
        width: 100%;
        height: 4px;
        top: 14px;
        left: 0;
        background-color: #6b7280;
        transition: all 0.3s ease 0s;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &.active {
        span {
          background-color: #6b7280;
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 14px;
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: 14px;
          }
        }
      }
    }
    @media (max-width: 424px) {
      width: 40px;
      height: 21px;
      span {
        height: 2px;
        top: 9.5px;
      }
      &.active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 9.5px;
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: 9.5px;
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {
    &__body {
      padding: 50px 0;
    }
  }
  @media (max-width: 767px) {
    & {
      position: fixed;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background-color: #fff;
      z-index: 3;
      padding: 0 0 100px 0;
      box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
    }

    &__body {
      padding: 20px 0;
    }
    &__logo {
      align-self: flex-start;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 15px;
  }

  &__item {
    margin: 0 80px 0 0;
    @media (max-width: 1100px) {
      margin: 0 45px 0 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px/18px * 100%;
    color: #6b7280;
  }
  @media (max-width: 767px) {
    & {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      background-color: #fff;
      overflow: auto;
      padding: 30px 0 20px 0;
      z-index: 2;
      transition: all 0.3s ease 0s;
      &.active {
        right: 0;
      }
    }

    &__list {
      flex: 1 1 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: right;
      margin: 100px 0 0 0;
    }
    &__item {
      margin: 0;
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
    &__link {
      font-size: 40px;
    }
  }
}
